<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Default configurations -->
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="Minecraft: Custom Server">
    <meta name="description" content="Create your Minecraft: Custom Server.">
    <meta name="author" content="Babah Gee">
    <meta name="theme-color" content="#fff">
    <meta itemprop="name" content="Minecraft: Custom Server">
    <meta itemprop="description" content="Create your Minecraft: Custom Server.">

    <!-- Twitter meta configurations. -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Minecraft: Custom Server">
    <meta name="twitter:description" content="Create your Minecraft: Custom Server.">
    <meta name="twitter:site" content="@Minecraft: Custom Server">
    <meta name="twitter:creator" content="@Minecraft: Custom Server">

    <!-- OG meta configurations.  -->
    <meta property="og:title" content="Minecraft: Custom Server">
    <meta property="og:description" content="Create your Minecraft: Custom Server.">
    <meta property="og:image:width" content="100">
    <meta property="og:image:height" content="100">
    <meta property="og:site_name" content="Minecraft: Custom Server">
    <meta property="og:locale" content="en_EN">

    <title>Minecraft: Custom Server</title>

    <link href="../styles/static/static.essentials.css" rel="stylesheet" type="text/css" />
    <link href="../styles/static/static.titlebar.css" rel="stylesheet" type="text/css" />
    <link href="../styles/static/static.navbar.css" rel="stylesheet" type="text/css" />
    <link href="../styles/static/static.loader.css" rel="stylesheet" type="text/css" />
    <link href="../styles/static/static.footer.css" rel="stylesheet" type="text/css" />
    <link href="../styles/static/static.tabs.css" rel="stylesheet" type="text/css" />
    <link href="../styles/static/static.contentloader.css" rel="stylesheet" type="text/css" />
    <link href="../styles/static/static.toast.css" rel="stylesheet" type="text/css" />

    <link href="../styles/tabs/main.css" type="text/css" rel="stylesheet" />

    <link href="../data/fonts/index.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="app electron-app minecraft-custom-server js --important --foreground">

        <div class="app-background">
            <div class="container">
                <div class="app-wallpaper static-wallpaper electron-wallpaper visible">
                    <div class="container">
                        <img src="../data/images/wallpapers/bg-wallpaper-mountain.jpg" alt="wallpaper" />
                    </div>
                </div>
            </div>
        </div>

        <div class="app-foreground">
            <div class="container">

                <div class="app-titlebar">
                    <div class="container">

                        <div class="layer-1 layer">
                            <div class="container">

                                <div class="app-draggable">
                                    <div class="app-titlebar-title">
                                        <span>Minecraft: Custom Server</span>
                                    </div>

                                    <div class="app-titlebar-vl"></div>

                                    <div class="app-titlebar-appversion">
                                        <span>Version 0.1.0</span>
                                    </div>
                                </div>

                                <div class="app-titlebar-controls">
                                    <div class="app-titlebar-controls-button button-close titlebar-button" data-trigger="app:close"></div>
                                    <div class="app-titlebar-controls-button button-full titlebar-button" data-trigger="app:toggleWindowSize"></div>
                                    <div class="app-titlebar-controls-button button-minimize titlebar-button" data-trigger="app:minimize"></div>
                                </div>

                            </div>
                        </div>

                        <div class="layer-2 layer">

                            <div class="app-titlebar-quicklinks">

                                <a href="https://github.com/babahgee">
                                    <div class="quicklinks-link">
                                        <span>Github</span>
                                    </div>
                                </a>

                                <div class="quicklinks-link titlebar-button quicklink-app-exit" data-trigger="app:reload">
                                    <span>Reload</span>
                                </div>

                                <div class="quicklinks-link titlebar-button quicklink-app-exit" data-trigger="app:close">
                                    <span>Exit</span>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>

                <div class="app-contents">

                    <div class="app-toasts-wrapper">
                        <div class="container">

                            <!--<div class="app-toast">
                    <div class="app-toast-title">An error has occurred.</div>
                    <div class="app-toast-message">Failed to launch server.</div>
                    <div class="app-toast-detail">There is no memory left for the server to operate. Please lower the provided memory usage.</div>
                </div>-->

                        </div>
                    </div>

                    <div class="app-contentloader visible">
                        <div class="container">

                            <canvas class="contentloader-canvas"></canvas>

                            <div class="contentloader-spinner"></div>

                        </div>
                    </div>

                    <div class="app-navigation">
                        <div class="navigation-links">

                            <div class="navigation-link active button-serveroverview" data-title="Server overview">
                                <img src="../data/icons/icon_power.png" alt="Server" />
                            </div>
                            <a href="./options.html">
                                <div class="navigation-link" data-title="Options">
                                    <img src="../data/icons/icon_sliders.png" alt="Options" />
                                </div>
                            </a>
                            <a href="./terminal.html">
                                <div class="navigation-link" data-title="Terminal">
                                    <img src="../data/icons/icon_terminal.png" alt="Terminal" />
                                </div>
                            </a>
                            <div class="navigation-link" data-title="Player manager">
                                <img src="../data/icons/icon_persons.png" alt="Player manager" />
                            </div>
                            <div class="navigation-link" data-title="Server files">
                                <img src="../data/icons/icon_files.png" alt="Server files" />
                            </div>
                            <div class="navigation-link" data-title="Settings">
                                <img src="../data/icons/icon_settings.png" alt="Settings" />
                            </div>

                        </div>
                    </div>

                    <div class="app-tabcontent">

                        <div class="app-tabcontent-header">

                            <h1 class="tab-name">Server overview</h1>

                            <h4 class="tab-description">This is the overview tab. Here you can change general settings like the name of your server. Start your server and make it public by using Ngrok or your forwarded IP. If you are not sure what these settings do, feel free to contact the application developer!</h4>

                        </div>

                        <h1 contenteditable="true" class="server-name" spellcheck="false">Ayo! The pizza here!</h1>
                        <h3 class="server-status" spellcheck="false">Server status: <strong class="offline">offline</strong></h3>

                        <div class="app-tabcontent-hl"></div>

                        <div class="server-startbutton">
                            <span>Start</span>
                        </div>

                        <div class="app-tabcontent-groups">

                            <div class="app-tabcontent-group" data-id="launch">

                                <div class="tabcontent-group-titlebar">
                                    <div class="tabcontent-group-titlebar-title">
                                        <span>Launch settings</span>
                                    </div>
                                    <div class="tabcontent-group-titlebar-toggle active"></div>
                                </div>

                                <div class="tabcontent-group-content">

                                    <div class="group-content-item" data-name="hostingMethod">
                                        <div class="group-content-title">
                                            <span>Public hosting method:</span>
                                        </div>
                                        <div class="group-content-toggle" data-value="">
                                            <div class="toggle-value">Local IP</div>
                                            <div class="toggle-value">Ngrok</div>
                                        </div>
                                    </div>

                                    <div class="group-content-item" data-name="ramUsage">
                                        <div class="group-content-title">
                                            <span>RAM usage (gb):</span>
                                        </div>
                                        <div class="group-content-toggle" data-value="Automatic">
                                            <div class="toggle-value active">Automatic</div>
                                            <div class="toggle-value">Manual</div>
                                        </div>
                                        <div class="group-content-range">
                                            <input type="range" value="1" min="1" max="20" data-send=".range-output-ramusage" />
                                            <div class="range-value range-output-ramusage">1</div>
                                        </div>
                                    </div>

                                    <div class="group-content-item" data-name="maxPlayers">
                                        <div class="group-content-title">
                                            <span>Maximum players:</span>
                                        </div>
                                        <div class="group-content-number">
                                            <input type="number" value="10" min="1" autocomplete="off" spellcheck="false" />
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="app-tabcontent-group" data-id="game">

                                <div class="tabcontent-group-titlebar">
                                    <div class="tabcontent-group-titlebar-title">
                                        <span>In-game settings</span>
                                    </div>
                                    <div class="tabcontent-group-titlebar-toggle active"></div>
                                </div>

                                <div class="tabcontent-group-content">

                                    <div class="group-content-item" data-name="inGameBot">
                                        <div class="group-content-title">
                                            <span>In-game bot:</span>
                                        </div>
                                        <div class="group-content-toggle" data-value="Enabled">
                                            <div class="toggle-value active">Enabled</div>
                                            <div class="toggle-value">Disabled</div>
                                        </div>
                                    </div>

                                    <div class="group-content-item" data-name="autoSave">
                                        <div class="group-content-title">
                                            <span>Auto save:</span>
                                        </div>
                                        <div class="group-content-toggle" data-value="Enabled">
                                            <div class="toggle-value active">Enabled</div>
                                            <div class="toggle-value">Disabled</div>
                                        </div>
                                    </div>

                                    <div class="group-content-item" data-name="showServerLogs">
                                        <div class="group-content-title">
                                            <span>Show server logs:</span>
                                        </div>
                                        <div class="group-content-toggle" data-value="Enabled">
                                            <div class="toggle-value">Enabled</div>
                                            <div class="toggle-value active">Disabled</div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="app-footer">
                            <div class="container">
                                <div class="footer-grid">

                                    <div class="footer-grid-column">
                                        <div class="grid-column-title">
                                            <span>Minecraft: Custom Server</span>
                                        </div>

                                        <h4 class="grid-column-desc">Pre alpha: version 0.0.1</h4>

                                        <div class="grid-column-hl"></div>

                                        <div class="grid-column-links">

                                            <a href="https://discord.gg/HQFWguAEVP" target="_blank">
                                                <div class="grid-column-link">
                                                    <span>Support server</span>
                                                </div>
                                            </a>
                                            <a href="https://github.com/babahgee/Minecraft-Custom-Server" target="_blank">
                                                <div class="grid-column-link">
                                                    <span>Github repository</span>
                                                </div>
                                            </a>
                                            <a href="https://github.com/babahgee/Minecraft-Custom-Server" target="_blank">
                                                <div class="grid-column-link">
                                                    <span>Packaged Minecraft Server</span>
                                                </div>
                                            </a>

                                        </div>

                                    </div>

                                    <div class="footer-grid-column">

                                        <div class="grid-column-title">
                                            <span>Software</span>
                                        </div>

                                        <h4 class="grid-column-desc">All of this is open source. Credits to the developers who made the software I used.</h4>

                                        <div class="grid-column-hl"></div>

                                        <div class="grid-column-links">

                                            <a href="https://www.electronjs.org/" target="_blank">
                                                <div class="grid-column-link">
                                                    <span>Electron</span>
                                                </div>
                                            </a>
                                            <a href="https://ngrok.com/" target="_blank">
                                                <div class="grid-column-link">
                                                    <span>Ngrok</span>
                                                </div>
                                            </a>
                                            <a href="https://fontawesome.com/" target="_blank">
                                                <div class="grid-column-link">
                                                    <span>Font Awesome</span>
                                                </div>
                                            </a>
                                            <a href="https://fontawesome.com/" target="_blank">
                                                <div class="grid-column-link">
                                                    <span>Express</span>
                                                </div>
                                            </a>
                                            <a href="https://github.com/PrismarineJS/mineflayer" target="_blank">
                                                <div class="grid-column-link">
                                                    <span>MineFlayer</span>
                                                </div>
                                            </a>
                                            <a href="https://ci.md-5.net/job/BungeeCord/" target="_blank">
                                                <div class="grid-column-link">
                                                    <span>BungeeCord</span>
                                                </div>
                                            </a>
                                            <a href="https://hub.spigotmc.org/jenkins/job/BuildTools/" target="_blank">
                                                <div class="grid-column-link">
                                                    <span>Spigot</span>
                                                </div>
                                            </a>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>

    <script src="../js/tabs/main/index.js" type="module"></script>
</body>
</html>