<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Default configurations -->
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="Minecraft: Custom Server">
    <meta name="description" content="Create your Minecraft: Custom Server.">
    <meta name="author" content="Babah Gee">
    <meta name="theme-color" content="#fff">
    <meta itemprop="name" content="Minecraft: Custom Server">
    <meta itemprop="description" content="Create your Minecraft: Custom Server.">

    <!-- Twitter meta configurations. -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Minecraft: Custom Server">
    <meta name="twitter:description" content="Create your Minecraft: Custom Server.">
    <meta name="twitter:site" content="@Minecraft: Custom Server">
    <meta name="twitter:creator" content="@Minecraft: Custom Server">

    <!-- OG meta configurations.  -->
    <meta property="og:title" content="Minecraft: Custom Server">
    <meta property="og:description" content="Create your Minecraft: Custom Server.">
    <meta property="og:image:width" content="100">
    <meta property="og:image:height" content="100">
    <meta property="og:site_name" content="Minecraft: Custom Server">
    <meta property="og:locale" content="en_EN">

    <title>Minecraft: Custom Server</title>

    <link href="../styles/static/static.essentials.css" rel="stylesheet" type="text/css" />
    <link href="../styles/static/static.titlebar.css" rel="stylesheet" type="text/css" />
    <link href="../styles/static/static.navbar.css" rel="stylesheet" type="text/css" />
    <link href="../styles/static/static.loader.css" rel="stylesheet" type="text/css" />
    <link href="../styles/static/static.tabs.css" rel="stylesheet" type="text/css" />
    <link href="../styles/static/static.contentloader.css" rel="stylesheet" type="text/css" />

    <link href="../styles/tabs/main.css" type="text/css" rel="stylesheet" />

    <link href="../data/fonts/index.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="app electron-app minecraft-custom-server js --important --foreground">

        <div class="app-titlebar">
            <div class="container">

                <div class="layer-1 layer">
                    <div class="container">

                        <div class="app-draggable">
                            <div class="app-titlebar-title">
                                <span>Minecraft: Custom Server</span>
                            </div>

                            <div class="app-titlebar-vl"></div>

                            <div class="app-titlebar-appversion">
                                <span>Version 0.0.1</span>
                            </div>
                        </div>

                        <div class="app-titlebar-controls">
                            <div class="app-titlebar-controls-button button-close" data-trigger="app:close"></div>
                            <div class="app-titlebar-controls-button button-full" data-trigger="app:toggleWindowSize"></div>
                            <div class="app-titlebar-controls-button button-minimize" data-trigger="app:minimize"></div>
                        </div>

                    </div>
                </div>

                <div class="layer-2 layer">

                    <div class="app-titlebar-quicklinks">

                        <div class="quicklinks-link">
                            <span>Github</span>
                        </div>

                        <div class="quicklinks-link">
                            <span>Reload</span>
                        </div>

                        <div class="quicklinks-link">
                            <span>Exit</span>
                        </div>

                        <div class="quicklinks-link">
                            <span>Settings</span>
                        </div>

                        <div class="quicklinks-link">
                            <span>Memes</span>
                        </div>

                    </div>

                </div>

            </div>
        </div>

        <div class="app-contents">

            <div class="app-contentloader visible">
                <div class="container">

                    <canvas class="contentloader-canvas"></canvas>

                    <div class="contentloader-spinner"></div>

                </div>
            </div>

            <div class="app-navigation">
                <div class="navigation-links">

                    <div class="navigation-link active" data-title="Server overview">
                        <img src="../data/icons/icon_power.png" alt="Server" />
                    </div>
                    <div class="navigation-link" data-title="Options">
                        <img src="../data/icons/icon_sliders.png" alt="Options" />
                    </div>
                    <div class="navigation-link" data-title="Terminal">
                        <img src="../data/icons/icon_terminal.png" alt="Terminal" />
                    </div>
                    <div class="navigation-link" data-title="Player manager">
                        <img src="../data/icons/icon_persons.png" alt="Player manager" />
                    </div>
                    <div class="navigation-link" data-title="Server files">
                        <img src="../data/icons/icon_files.png" alt="Server files" />
                    </div>
                    <div class="navigation-link" data-title="Settings">
                        <img src="../data/icons/icon_settings.png" alt="Settings" />
                    </div>

                </div>
            </div>

            <div class="app-tabcontent">

                <div class="app-tabcontent-header">

                    <h1 class="tab-name">Server overview</h1>

                    <h4 class="tab-description">This is the overview tab. Here you can change general settings like the name of your server. Start your server and make it public by using Ngrok or your forwared IP.</h4>

                </div>

                <h1 contenteditable="true" class="server-name" spellcheck="false">Ayo! The pizza here!</h1>

                <div class="app-tabcontent-hl"></div>

            </div>

        </div>

    </div>

    <script src="../js/static/static.contentloader.js" type="module"></script>
    <script src="../js/static/static.titlebar.js" type="module"></script>

    <script src="../js/tabs/main.js" type="module"></script>
</body>
</html>