<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Default configurations -->
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="Minecraft: Custom Server">
    <meta name="description" content="Create your Minecraft: Custom Server.">
    <meta name="author" content="Babah Gee">
    <meta name="theme-color" content="#fff">
    <meta itemprop="name" content="Minecraft: Custom Server">
    <meta itemprop="description" content="Create your Minecraft: Custom Server.">

    <!-- Twitter meta configurations. -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Minecraft: Custom Server">
    <meta name="twitter:description" content="Create your Minecraft: Custom Server.">
    <meta name="twitter:site" content="@Minecraft: Custom Server">
    <meta name="twitter:creator" content="@Minecraft: Custom Server">

    <!-- OG meta configurations.  -->
    <meta property="og:title" content="Minecraft: Custom Server">
    <meta property="og:description" content="Create your Minecraft: Custom Server.">
    <meta property="og:image:width" content="100">
    <meta property="og:image:height" content="100">
    <meta property="og:site_name" content="Minecraft: Custom Server">
    <meta property="og:locale" content="en_EN">

    <title>Minecraft: Custom Server</title>

    <link href="styles/static/static.essentials.css" rel="stylesheet" type="text/css" />
    <link href="styles/static/static.titlebar.css" rel="stylesheet" type="text/css" />
    <link href="styles/static/static.navbar.css" rel="stylesheet" type="text/css" />
    <link href="styles/static/static.loader.css" rel="stylesheet" type="text/css" />

    <link href="css/main.css" type="text/css" rel="stylesheet" />

    <link href="data/fonts/index.css" rel="stylesheet" type="text/css" />

    <script src></script>

</head>
<body>
    <div class="app electron-app minecraft-custom-server js --important --foreground">

        <div class="app-titlebar">
            <div class="container">

                <div class="layer-1 layer">
                    <div class="container">

                        <div class="app-titlebar-title">
                            <span>Minecraft: Custom Server</span>
                        </div>

                        <div class="app-titlebar-vl"></div>

                        <div class="app-titlebar-appversion">
                            <span>Version 0.0.1</span>
                        </div>

                        <div class="app-titlebar-controls">
                            <div class="app-titlebar-controls-button button-close"></div>
                            <div class="app-titlebar-controls-button button-full"></div>
                            <div class="app-titlebar-controls-button button-minimize"></div>
                        </div>

                    </div>
                </div>

                <div class="layer-2 layer">

                </div>

            </div>
        </div>


    </div>
</body>
</html>