<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Default configurations -->
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="Minecraft: Custom Server">
    <meta name="description" content="Create your Minecraft: Custom Server.">
    <meta name="author" content="Babah Gee">
    <meta name="theme-color" content="#fff">
    <meta itemprop="name" content="Minecraft: Custom Server">
    <meta itemprop="description" content="Create your Minecraft: Custom Server.">

    <!-- Twitter meta configurations. -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Minecraft: Custom Server">
    <meta name="twitter:description" content="Create your Minecraft: Custom Server.">
    <meta name="twitter:site" content="@Minecraft: Custom Server">
    <meta name="twitter:creator" content="@Minecraft: Custom Server">

    <!-- OG meta configurations.  -->
    <meta property="og:title" content="Minecraft: Custom Server">
    <meta property="og:description" content="Create your Minecraft: Custom Server.">
    <meta property="og:image:width" content="100">
    <meta property="og:image:height" content="100">
    <meta property="og:site_name" content="Minecraft: Custom Server">
    <meta property="og:locale" content="en_EN">

    <title>Minecraft: Custom Server</title>

    <link href="styles/static/static.essentials.css" rel="stylesheet" type="text/css" />
    <link href="styles/static/static.titlebar.css" rel="stylesheet" type="text/css" />
    <link href="styles/static/static.navbar.css" rel="stylesheet" type="text/css" />
    <link href="styles/static/static.loader.css" rel="stylesheet" type="text/css" />
    <link href="styles/static/static.footer.css" rel="stylesheet" type="text/css" />
    <link href="styles/static/static.contentloader.css" rel="stylesheet" type="text/css" />

    <link href="styles/setup.css" type="text/css" rel="stylesheet" />

    <link href="data/fonts/index.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="app electron-app minecraft-custom-server js --important --foreground">

        <div class="app-titlebar">
            <div class="container">

                <div class="layer-1 layer">
                    <div class="container">

                        <div class="app-draggable">
                            <div class="app-titlebar-title">
                                <span>Minecraft: Custom Server</span>
                            </div>

                            <div class="app-titlebar-vl"></div>

                            <div class="app-titlebar-appversion">
                                <span>Version 0.1.0</span>
                            </div>
                        </div>

                        <div class="app-titlebar-controls">
                            <div class="app-titlebar-controls-button button-close titlebar-button" data-trigger="app:close"></div>
                            <div class="app-titlebar-controls-button button-full titlebar-button" data-trigger="app:toggleWindowSize"></div>
                            <div class="app-titlebar-controls-button button-minimize titlebar-button" data-trigger="app:minimize"></div>
                        </div>

                    </div>
                </div>

                <div class="layer-2 layer">

                    <div class="app-titlebar-quicklinks">

                        <a href="https://github.com/babahgee">
                            <div class="quicklinks-link">
                                <span>Github</span>
                            </div>
                        </a>

                        <div class="quicklinks-link titlebar-button quicklink-app-exit" data-trigger="app:reload">
                            <span>Reload</span>
                        </div>

                        <div class="quicklinks-link titlebar-button quicklink-app-exit" data-trigger="app:close">
                            <span>Exit</span>
                        </div>

                        <div class="quicklinks-link titlebar-button quicklink-app-exit" data-trigger="app:force_refresh">
                            <span>Force refresh</span>
                        </div>

                    </div>

                </div>

            </div>
        </div>

        <div class="app-contents">

            <div class="app-contentloader">
                <div class="container">

                    <canvas class="contentloader-canvas"></canvas>

                    <div class="contentloader-spinner"></div>

                </div>
            </div>

            <div class="floatable-select-list hidden"></div>

            <!-- Centered wrapper -->
            <div class="content-wrapper">

                <h1 class="big-title">Before we start, let's setup <strong>some things</strong>.</h1>

                <div class="horizontal-line"></div>

                <div class="table-wrapper">

                    <div class="table-container" data-title="Server configuration">
                        <div class="table-navbar">
                            <div class="table-title">
                                <span>Server configuration</span>
                            </div>
                            <div class="table-togglebutton active"></div>
                        </div>
                        <div class="table-content">
                            <h5>Settings to help the app know where the files are located. Items marked with a <strong>*</strong> are <strong>required</strong> to fill in. These can always be changed in the future.</h5>


                            <div class="table-item">
                                <div class="item-title">
                                    <span>Server version *</span>
                                </div>
                                <div class="item-select server-version-dropdown" data-id="serverVersion">
                                    <div class="select-value">
                                        <span>1.17.1</span>
                                    </div>
                                </div>
                            </div>
                             <div class="table-item">
                                <div class="item-title" title="This input-field is required to fill in. The application will install the required server files and extract it in a specific user-given directory.">
                                    <span>Installation path *</span>
                                </div>
                                <div class="item-input" data-id="serverInstallationPath" data-placeholder="Enter path here." data-request="path" contenteditable="true" spellcheck="false"></div>
                            </div>
                        </div>
                    </div>

                    <div class="table-container" data-title="Application settings">
                        <div class="table-navbar">
                            <div class="table-title">
                                <span>Application settings</span>
                            </div>
                            <div class="table-togglebutton"></div>
                        </div>
                        <div class="table-content hidden">
                            <h5>Applications settings you may wanna change. Items marked with a * are <strong>required</strong> to fill in. These can always be changed in the future.</h5>

                            <div class="table-item">
                                <div class="item-title">
                                    <span>Output path</span>
                                </div>
                                <div class="item-input" data-id="app:outputpath" data-placeholder="Enter path here." contenteditable="true" spellcheck="false"></div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="setup-buttonwrapper">
                    <div class="container">

                        <div class="setup-acceptbutton">
                            <span>Create</span>
                        </div>

                    </div>
                </div>

            </div>

            <div class="app-footer">
                <div class="container">
                    <div class="footer-grid">

                        <div class="footer-grid-column">
                            <div class="grid-column-title">
                                <span>Minecraft: Custom Server</span>
                            </div>

                            <h4 class="grid-column-desc">Pre alpha: version 0.0.1</h4>

                            <div class="grid-column-hl"></div>

                            <div class="grid-column-links">

                                <a href="https://discord.gg/HQFWguAEVP" target="_blank">
                                    <div class="grid-column-link">
                                        <span>Support server</span>
                                    </div>
                                </a>
                                <a href="https://github.com/babahgee/Minecraft-Custom-Server" target="_blank">
                                    <div class="grid-column-link">
                                        <span>Github repository</span>
                                    </div>
                                </a>
                                <a href="https://github.com/babahgee/Minecraft-Custom-Server" target="_blank">
                                    <div class="grid-column-link">
                                        <span>Packaged Minecraft Server</span>
                                    </div>
                                </a>

                            </div>

                        </div>

                        <div class="footer-grid-column">

                            <div class="grid-column-title">
                                <span>Software</span>
                            </div>

                            <h4 class="grid-column-desc">All of this is open source. Credits to the developers who made the software I used.</h4>

                            <div class="grid-column-hl"></div>

                            <div class="grid-column-links">

                                <a href="https://www.electronjs.org/" target="_blank">
                                    <div class="grid-column-link">
                                        <span>Electron</span>
                                    </div>
                                </a>
                                <a href="https://ngrok.com/" target="_blank">
                                    <div class="grid-column-link">
                                        <span>Ngrok</span>
                                    </div>
                                </a>
                                <a href="https://fontawesome.com/" target="_blank">
                                    <div class="grid-column-link">
                                        <span>Font Awesome</span>
                                    </div>
                                </a>
                                <a href="https://fontawesome.com/" target="_blank">
                                    <div class="grid-column-link">
                                        <span>Express</span>
                                    </div>
                                </a>
                                <a href="https://github.com/PrismarineJS/mineflayer" target="_blank">
                                    <div class="grid-column-link">
                                        <span>MineFlayer</span>
                                    </div>
                                </a>
                                <a href="https://ci.md-5.net/job/BungeeCord/" target="_blank">
                                    <div class="grid-column-link">
                                        <span>BungeeCord</span>
                                    </div>
                                </a>
                                <a href="https://hub.spigotmc.org/jenkins/job/BuildTools/" target="_blank">
                                    <div class="grid-column-link">
                                        <span>Spigot</span>
                                    </div>
                                </a>

                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

    <script src="./js/static/static.titlebar.js" type="module"></script>
    <script src="./js/static/static.contentloader.js" type="module"></script>

    <script src="js/setup.js" type="module"></script>
</body>
</html>