.server-name {
    width: 100%;
    height: auto;
    position: relative;
    content: "";
    font-size: 40px;
    font-family: RobotoLight;
    font-weight: normal;
    text-align: center;
}

.server-status {
    width: 100%;
    height: auto;
    position: relative;
    content: "";
    font-size: 20px;
    font-family: RobotoLight;
    font-weight: normal;
    text-align: center;
    margin-top: 20px;
    color: #fff;
    user-select: none;
}

    .server-status strong.offline {
        padding: 3px 20px;
        border: 2px solid #ff6d6d;
        border-radius: 30px;
        font-weight: 900;
        color: #ffb6b6;
        margin-left: 10px;
    }

    .server-status strong.online {
        padding: 3px 20px;
        border: 2px solid #6dc2ff;
        border-radius: 30px;
        font-weight: 900;
        color: #adddff;
        margin-left: 10px;
        pointer-events: all;
        user-select: all;
    }

.app-tabcontent-hl {
    margin: 30px auto;
}

.server-startbutton {
    width: auto;
    height: auto;
    margin: 0px auto 20px auto;
    background: #141414;
    display: table;
    padding: 10px 35px;
    border-radius: 30px;
    user-select: none;
    cursor: pointer;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.server-startbutton span {
    font-family: Montserrat;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}

    .server-startbutton:hover {
        background: #6dc2ff;
        box-shadow: 0px 5px 10px #0c0c0c;
    }